<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<title>Publicacões do Usuário</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Publicações</strong>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table
							class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr>
									<th>ID</th>
									<th>T&iacute;tulo</th>
									<th>Descrição</th>
									<th>Dt. Início</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="grupo : ${grupos}">
									<td th:text="${grupo.id}"></td>
									<td th:text="${grupo.titulo}"></td>
									<td th:text="${grupo.descricao}"></td>
									<td th:text="${#dates.format(grupo.dtInicio, 'dd-MMM-yyyy')}"></td>
									<td>
										<div class="btn-group pull-right">
											<a class="delete btn btn-sm btn-default"
												th:href="@{/editarGrupo/{id}(id=${grupo.id})}">Editar</a>
											<a class="delete btn btn-sm btn-danger"
												th:href="@{/deleteGrupo/{id}(id=${grupo.id})}"
												onclick="return confirm('Confirma a exclusão?')">Excluir</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel-footer">
					<a class="btn btn-success" th:href="@{/incluirGrupo}">Adicionar</a>
					<a class="btn btn-danger" th:href="@{/}" >Voltar</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>